#top
  %header#header
    .inner
      %h4
        %strong> I am a Software Developer who Specializes in using Ruby On Rails to automate processes and Solve problems
        %br/
  #main
    .fh5co-post
      .text-right
        = link_to new_post_path, class: "btn btn-success text-white" do
          = icon('plus')
      .liner.blue.darken-2
      %br
      %br
      - @posts.each do |post|
        .fh5co-entry.padding.margin
          %div
            %span.fh5co-post-date #{post.created_at.strftime("%A, %d %b %Y")} ( #{pluralize(post.responses.count, "response")} )
            %h4= link_to post.title.truncate(80), post_path(post)
        %br
        %br
    %footer
      %div
        © Monsieur Slim #{Time.now.year}. All Rights Reserved.
        Made with #{icon('heart', class: "text-danger")} by #{link_to("Monsieur Slim", "www.monsieurslim.com", target: "_blank")}
