<!DOCTYPE html>
<html>
<head>
  <title>Slim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="container navbar navbar-fixed-top">
    <p class="navbar-brand">Monsieur Slim</p>
    <p class="navbar-text navbar-right">
      <%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Solutions", solutions_path %>
    </p>
</nav>
<div class="container-fluid">
    <%= yield %>
</div>
<footer class="container">
  <p></p>
</footer>
</body>
</html>
