<!DOCTYPE html>
<html>
<head>
  <title>Slim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'popcorn-complete.js', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= favicon_link_tag 'slim.gif' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
    <%= yield %>
</div>
<footer class="container">
  <p></p>
</footer>
</body>
</html>
